Class 22: Group Practice Problems
These will not be handed in, but please take them seriously and do not use generative AI. These exercises are designed to familiarize you with how code works in Python and will help you learn how to generate your own in the future. Please work in a group of three. Don't hesitate to ask for help if you need it. Your instructor and TAs will be circulating. Flag us down!

Name:

Partners:

Today we will investigate python dictionaries and the `pandas` module. Pandas is a data manipulation library that is built on NumPy.

Dictionaries are key-value stores where each key is unique. You will explore various operations on dictionaries, including creation, modification, and iteration.

1. Create a dictionary named `hurricane` with the following key-value pairs:
   - `'name': 'Sandy'`
   - `'year': 2012`
   - `'category': 3`
2. Print the value associated with the key `'year'`.

In [ ]:
#1
hurricane = {'name': 'Sandy', 'year': 2012, 'category': 3}
print(hurricane['year'])

2012

1. Add a new key-value pair to the `hurricane` dictionary: `'pressure': 940`.
2. Change the `'category'` value to `4`.
3. Print the updated dictionary.

In [ ]:
#2
hurricane['pressure'] = 940
hurricane['category'] = 4
print(hurricane)

{'name': 'Sandy', 'year': 2012, 'category': 4, 'pressure': 940}


Use a loop to print all keys and values from the `hurricane` dictionary in the format: `Key: Value`.

In [ ]:
#3
for key, value in hurricane.items():
    print(f"{key}: {value}")

name: Sandy
year: 2012
category: 4
pressure: 940

You are tasked with storing information about a book in a dictionary. Perform the following steps:

1. Create a dictionary named `book` with the following key-value pairs:
- `'title': 'To Kill a Mockingbird'`
- `'author': 'Harper Lee'`
- `'year_published': 1960`
- `'genre': 'Fiction'`
2. Print the value associated with the key `'author'`.
3. Check if the key `'pages'` exists in the dictionary and print the result.
4. Use the `len()` function to determine the number of key-value pairs in the dictionary and print it.

In [ ]:
#4
# Step 1: Create the dictionary
book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year_published': 1960,
    'genre': 'Fiction'
}

# Step 2: Print the value for the key 'author'
print("Author:", book['author'])  # Output: Harper Lee

# Step 3: Check if 'pages' exists in the dictionary
has_pages = 'pages' in book
print("Does the 'pages' key exist?", has_pages)  # Output: False

# Step 4: Determine and print the number of key-value pairs
num_pairs = len(book)
print("Number of key-value pairs:", num_pairs)  # Output: 4

Author: Harper Lee
Does the 'pages' key exist? False
Number of key-value pairs: 4

You are given a dictionary representing a smartphone:

```python
smartphone = {
    'brand': 'Apple',
    'model': 'iPhone 13',
    'year_released': 2021,
    'price': 799
}
```
1. Use the `get` method to retrieve the value for the key `'price'`.
2. Add a new key-value pair: `'storage': '128GB'`.
3. Update the `'price'` to `749`.
4. Remove the `'year_released'` key using the `pop()` method.
5. Print the updated dictionary.

In [ ]:
#5
# Step 1: Define the dictionary
smartphone = {
    'brand': 'Apple',
    'model': 'iPhone 13',
    'year_released': 2021,
    'price': 799
}

# Step 2: Use the get method to retrieve the price
price = smartphone.get('price')
print("Price:", price)  # Output: 799

# Step 3: Add a new key-value pair
smartphone['storage'] = '128GB'

# Step 4: Update the price
smartphone['price'] = 749

# Step 5: Remove the 'year_released' key
smartphone.pop('year_released', None)

# Step 6: Print the updated dictionary
print("\nUpdated Dictionary:", smartphone)

Price: 799

Updated Dictionary: {'brand': 'Apple', 'model': 'iPhone 13', 'price': 749, 'storage': '128GB'}

You are managing a dictionary that tracks items in a shopping cart:
```python
shopping_cart = {
    'apple': 4,
    'banana': 6,
    'milk': 2,
    'bread': 1
}
```
1. Print the current contents of the shopping_cart.
2. Use the `clear()` method to remove all items from the dictionary.
3. Print the dictionary again to confirm it is empty.

In [ ]:
#6
# Step 1: Define the dictionary
shopping_cart = {
    'apple': 4,
    'banana': 6,
    'milk': 2,
    'bread': 1
}

# Step 2: Print the current contents of the shopping cart
print("Shopping Cart Contents:", shopping_cart)
# Output: {'apple': 4, 'banana': 6, 'milk': 2, 'bread': 1}

# Step 3: Clear the shopping cart
shopping_cart.clear()

# Step 4: Print the dictionary to confirm it is empty
print("Shopping Cart after clear():", shopping_cart)
# Output: {}

Shopping Cart Contents: {'apple': 4, 'banana': 6, 'milk': 2, 'bread': 1}
Shopping Cart after clear(): {}

You are given a dictionary representing the stock of items in a grocery store:

```python
store_stock = {
    'apples': 50,
    'bananas': 30,
    'milk': 20,
    'bread': 15
}
```
1. Use a loop to print each item and its stock in the format: `"Item: <item>, Stock: <stock>"`.
2. Use the `.keys()` method to print a list of all items in the store.
3. Use the `.values()` method to calculate and print the total stock of all items.
4. Use the `.items()` method to print each item and its stock as tuples.

In [ ]:
#7
# Step 1: Define the dictionary
store_stock = {
    'apples': 50,
    'bananas': 30,
    'milk': 20,
    'bread': 15
}

# Step 2: Loop to print each item and its stock
print("Stock details:")
for item, stock in store_stock.items():
    print(f"Item: {item}, Stock: {stock}")

# Step 3: Use .keys() to print all items
items = list(store_stock.keys())
print("\nItems in store:", items)

# Step 4: Use .values() to calculate total stock
total_stock = sum(store_stock.values())
print("\nTotal stock:", total_stock)

# Step 5: Use .items() to print item-stock tuples
print("\nItem-stock tuples:")
for item_tuple in store_stock.items():
    print(item_tuple)

Stock details:
Item: apples, Stock: 50
Item: bananas, Stock: 30
Item: milk, Stock: 20
Item: bread, Stock: 15

Items in store: ['apples', 'bananas', 'milk', 'bread']

Total stock: 115

Item-stock tuples:
('apples', 50)
('bananas', 30)
('milk', 20)
('bread', 15)

You are managing data about students and their test scores. The data is stored in a dictionary where each key is a student's name, and the value is another dictionary containing the student's scores for Math, Science, and English.

Here is the data:

```python
students_scores = {
    'Alice': {'Math': 85, 'Science': 90, 'English': 88},
    'Bob': {'Math': 78, 'Science': 82, 'English': 84},
    'Charlie': {'Math': 92, 'Science': 88, 'English': 91},
    'Dana': {'Math': 89, 'Science': 94, 'English': 87}
}
```

1. Print the scores for `'Alice'`.
2. Retrieve and print the Science score for `'Charlie'`.
3. Add a new student, `'Eve'`, with the following scores:
- Math: 88
- Science: 86
- English: 89
4. Calculate and print the average Math score for all students.
5. Use a loop to print each student’s name and their average score in the format: `"Student: <name>, Average Score: <average>"`.

In [ ]:
#8
# Step 1: Define the dictionary
students_scores = {
    'Alice': {'Math': 85, 'Science': 90, 'English': 88},
    'Bob': {'Math': 78, 'Science': 82, 'English': 84},
    'Charlie': {'Math': 92, 'Science': 88, 'English': 91},
    'Dana': {'Math': 89, 'Science': 94, 'English': 87}
}

# Step 2: Print the scores for 'Alice'
print("Alice's Scores:", students_scores['Alice'])

# Step 3: Retrieve and print the Science score for 'Charlie'
charlie_science = students_scores['Charlie']['Science']
print("\nCharlie's Science Score:", charlie_science)

# Step 4: Add a new student, 'Eve'
students_scores['Eve'] = {'Math': 88, 'Science': 86, 'English': 89}

# Step 5: Calculate the average Math score
math_scores = [scores['Math'] for scores in students_scores.values()]
average_math_score = sum(math_scores) / len(math_scores)
print("\nAverage Math Score:", average_math_score)

# Step 6: Loop to print each student's name and average score
print("\nStudent Average Scores:")
for student, scores in students_scores.items():
    average_score = sum(scores.values()) / len(scores)
    print(f"Student: {student}, Average Score: {average_score:.2f}")

Alice's Scores: {'Math': 85, 'Science': 90, 'English': 88}

Charlie's Science Score: 88

Average Math Score: 86.4

Student Average Scores:
Student: Alice, Average Score: 87.67
Student: Bob, Average Score: 81.33
Student: Charlie, Average Score: 90.33
Student: Dana, Average Score: 90.00
Student: Eve, Average Score: 87.67

You are given a list of exam scores and a list of corresponding student names. Follow these steps to work with Pandas:

1. Import Pandas using the alias `pd`.
2. Create a Pandas Series named `exam_scores` with the following data:
- Scores: `[85, 90, 78, 92, 88]`
- Indices (Student Names): `['Alice', 'Bob', 'Charlie', 'Dana', 'Eve']`
3. Print the entire Series.
4. Retrieve and print the score for `'Dana'`.
5. Calculate and print the average score from the Series.

In [ ]:
#9
# Step 1: Import Pandas
import pandas as pd

# Step 2: Create the Pandas Series
exam_scores = pd.Series(
    [85, 90, 78, 92, 88],
    index=['Alice', 'Bob', 'Charlie', 'Dana', 'Eve']
)

# Step 3: Print the entire Series
print("Exam Scores Series:")
print(exam_scores)

# Step 4: Retrieve and print the score for 'Dana'
dana_score = exam_scores['Dana']
print("\nDana's Score:", dana_score)

# Step 5: Calculate and print the average score
average_score = exam_scores.mean()
print("\nAverage Score:", average_score)

Exam Scores Series:
Alice      85
Bob        90
Charlie    78
Dana       92
Eve        88
dtype: int64

Dana's Score: 92

Average Score: 86.6

Using the `exam_scores` Series from the previous question, complete the following tasks:

1. Retrieve and print the scores for `'Bob'`, `'Charlie'`, and `'Dana'` using slicing.
2. Retrieve and print the scores for the first three students in the Series using slicing.
3. Retrieve and print the scores for the last two students in the Series using slicing.

In [ ]:
#10
# Step 2: Slice to get scores for 'Bob', 'Charlie', and 'Dana'
selected_scores = exam_scores['Bob':'Dana']
print("Scores for Bob, Charlie, and Dana:")
print(selected_scores)

# Step 3: Slice to get the first three students
first_three_scores = exam_scores[:3]
print("\nScores for the first three students:")
print(first_three_scores)

# Step 4: Slice to get the last two students
last_two_scores = exam_scores[-2:]
print("\nScores for the last two students:")
print(last_two_scores)

Scores for Bob, Charlie, and Dana:
Bob        90
Charlie    78
Dana       92
dtype: int64

Scores for the first three students:
Alice      85
Bob        90
Charlie    78
dtype: int64

Scores for the last two students:
Dana    92
Eve     88
dtype: int64

Using the `exam_scores` Series from the previous question, complete the following tasks:

1. Create a dictionary of the above scores.
2. Create a Pandas Series named `exam_scores` using the dictionary.
3. Print the entire Series.
4. Retrieve and print the score for `'Charlie'`.

In [ ]:
#11
# Step 2: Define the dictionary
scores_dict = {
    'Alice': 85,
    'Bob': 90,
    'Charlie': 78,
    'Dana': 92,
    'Eve': 88
}

# Step 3: Create the Pandas Series
exam_scores = pd.Series(scores_dict)

# Step 4: Print the entire Series
print("Exam Scores Series:")
print(exam_scores)

# Step 5: Retrieve and print the score for 'Charlie'
charlie_score = exam_scores['Charlie']
print("\nCharlie's Score:", charlie_score)

Exam Scores Series:
Alice      85
Bob        90
Charlie    78
Dana       92
Eve        88
dtype: int64

Charlie's Score: 78

You are tasked with creating a DataFrame to store information about students and their scores in Math, Science, and English.

1. Create a DataFrame named `students_scores` using the following data:
- Name: `['Alice', 'Bob', 'Charlie', 'Dana', 'Eve']`
- Math: `[85, 90, 78, 92, 88]`
- Science: `[88, 76, 85, 95, 89]`
- English: `[92, 85, 89, 94, 90]`
2. Print the entire DataFrame.
3. Print only the `Math` column.
4. Retrieve and print the scores for `'Dana'` across all subjects.
5. Add a new column named `'Total'` that contains the total score for each student.
6. Print the updated DataFrame.

In [ ]:
#12
# Step 2: Create the DataFrame
students_scores = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Dana', 'Eve'],
    'Math': [85, 90, 78, 92, 88],
    'Science': [88, 76, 85, 95, 89],
    'English': [92, 85, 89, 94, 90]
})

# Step 3: Print the entire DataFrame
print("Students Scores DataFrame:")
print(students_scores)

# Step 4: Print the Math column
print("\nMath Scores:")
print(students_scores['Math'])

# Step 5: Retrieve and print scores for 'Dana'
dana_scores = students_scores.loc[students_scores['Name'] == 'Dana']
print("\nDana's Scores:")
print(dana_scores)

# Step 6: Add a Total column
students_scores['Total'] = students_scores['Math'] + students_scores['Science'] + students_scores['English']

# Step 7: Print the updated DataFrame
print("\nUpdated DataFrame with Total Scores:")
print(students_scores)

Students Scores DataFrame:
      Name  Math  Science  English
0    Alice    85       88       92
1      Bob    90       76       85
2  Charlie    78       85       89
3     Dana    92       95       94
4      Eve    88       89       90

Math Scores:
0    85
1    90
2    78
3    92
4    88
Name: Math, dtype: int64

Dana's Scores:
   Name  Math  Science  English
3  Dana    92       95       94

Updated DataFrame with Total Scores:
      Name  Math  Science  English  Total
0    Alice    85       88       92    265
1      Bob    90       76       85    251
2  Charlie    78       85       89    252
3     Dana    92       95       94    281
4      Eve    88       89       90    267

Using the above dataframe

1. Access and print the scores (all subjects) for `'Charlie'` using the `loc` method.
2. Use the `iloc` method to access and print the second row of the DataFrame.

In [ ]:
#13
# Step 2: Access and print the scores for 'Charlie'
charlie_scores = students_scores.loc[students_scores['Name'] == 'Charlie']
print("Charlie's Scores:")
print(charlie_scores)

# Step 3: Use iloc to access and print the second row
second_row = students_scores.iloc[1]
print("\nSecond Row of the DataFrame:")
print(second_row)

Charlie's Scores:
      Name  Math  Science  English  Total
2  Charlie    78       85       89    252

Second Row of the DataFrame:
Name       Bob
Math        90
Science     76
English     85
Total      251
Name: 1, dtype: object

Using the above dataframe, perform the following tasks:

1. Retrieve and print the index of the DataFrame.
2. Retrieve and print the column names of the DataFrame.
3. Retrieve and print the values of the DataFrame as a 2D array.
4. Use the `.values` attribute to calculate and print the average Math score from the DataFrame.

In [ ]:
#14
# Step 2: Retrieve and print the index
print("Index of the DataFrame:")
print(students_scores.index)

# Step 3: Retrieve and print the column names
print("\nColumn Names of the DataFrame:")
print(students_scores.columns)

# Step 4: Retrieve and print the values as a 2D array
print("\nValues of the DataFrame:")
print(students_scores.values)

# Step 5: Calculate the average Math score using .values
math_scores = students_scores['Math'].values
average_math_score = math_scores.mean()
print("\nAverage Math Score:", average_math_score)

Index of the DataFrame:
RangeIndex(start=0, stop=5, step=1)

Column Names of the DataFrame:
Index(['Name', 'Math', 'Science', 'English', 'Total'], dtype='object')

Values of the DataFrame:
[['Alice' 85 88 92 265]
 ['Bob' 90 76 85 251]
 ['Charlie' 78 85 89 252]
 ['Dana' 92 95 94 281]
 ['Eve' 88 89 90 267]]

Average Math Score: 86.6

- Add a new column `'Participation'` to the DataFrame with values `[8, 9, 7, 10, 8]`.
- Remove the `'Science'` column from the DataFrame.
- Print the updated DataFrame.

In [ ]:
#15
# Step 2: Add the 'Participation' column
students_scores['Participation'] = [8, 9, 7, 10, 8]

# Step 3: Remove the 'Science' column
students_scores = students_scores.drop(columns=['Science'])

# Step 4: Print the updated DataFrame
print("Updated DataFrame:")
print(students_scores)

Updated DataFrame:
      Name  Math  English  Total  Participation
0    Alice    85       92    265              8
1      Bob    90       85    251              9
2  Charlie    78       89    252              7
3     Dana    92       94    281             10
4      Eve    88       90    267              8

1. Add back the `'Science'` column with the original values `[88, 76, 85, 95, 89]`.
2. Print the updated DataFrame.

In [ ]:
#16
# Step 2: Add back the 'Science' column
students_scores['Science'] = [88, 76, 85, 95, 89]

# Step 3: Print the updated DataFrame
print("Updated DataFrame:")
print(students_scores)

Updated DataFrame:
      Name  Math  English  Total  Participation  Science
0    Alice    85       92    265              8       88
1      Bob    90       85    251              9       76
2  Charlie    78       89    252              7       85
3     Dana    92       94    281             10       95
4      Eve    88       90    267              8       89

Calculate and print the following statistics for each subject:
- Mean score
- Highest score
- Lowest score

In [ ]:
#17
print("Mean Scores:")
print(students_scores[['Math', 'Participation', 'English', 'Science']].mean())

print("\nHighest Scores:")
print(students_scores[['Math', 'Participation', 'English', 'Science']].max())

print("\nLowest Scores:")
print(students_scores[['Math', 'Participation', 'English', 'Science']].min())

Mean Scores:
Math             86.6
Participation     8.4
English          90.0
Science          86.6
dtype: float64

Highest Scores:
Math             92
Participation    10
English          94
Science          95
dtype: int64

Lowest Scores:
Math             78
Participation     7
English          85
Science          76
dtype: int64

Using the dataframe above, perform the following tasks:

1. Use the `.shape` attribute to print the number of rows and columns in the DataFrame.
2. Use the `.head(`) method to display the first three rows of the DataFrame.
3. Use the `.tail()` method to display the last two rows of the DataFrame.

In [ ]:
#18
# Step 2: Print the shape of the DataFrame
print("Shape of the DataFrame:")
print(students_scores.shape)

# Step 3: Display the first three rows using head()
print("\nFirst Three Rows:")
print(students_scores.head(3))

# Step 4: Display the last two rows using tail()
print("\nLast Two Rows:")
print(students_scores.tail(2))

Shape of the DataFrame:
(5, 6)

First Three Rows:
      Name  Math  English  Total  Participation  Science
0    Alice    85       92    265              8       88
1      Bob    90       85    251              9       76
2  Charlie    78       89    252              7       85

Last Two Rows:
   Name  Math  English  Total  Participation  Science
3  Dana    92       94    281             10       95
4   Eve    88       90    267              8       89

Now do your thing!! Write some creative problems and post them on the Creative Problems chat for Class 22. Write some quiz problems for Friday. Quiz each other!